<table border="1">
  <thead>
    <tr>
      <th>Rodada</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jogo of rodada">
      <td class="flexTime">
        <span>{{ jogo.times[0].sigla }}</span>
        <app-time-imagem [imagem]="jogo.times[0].imagem"></app-time-imagem>
        <input
          class="inputPlacar"
          type="number"
          size="5"
          min="0"
          step="1"
          (input)="validarPlacar()"
          [(ngModel)]="jogo.placar[0]"
        >
        x
        <input
          class="inputPlacar"
          type="number"
          size="5"
          min="0"
          step="1"
          (input)="validarPlacar()"
          [(ngModel)]="jogo.placar[1]"
        >
        <app-time-imagem [imagem]="jogo.times[1].imagem"></app-time-imagem>
        <span>{{ jogo.times[1].sigla }}</span>
      </td>
    </tr>
  </tbody>
</table>
