<table border="1">
  <thead>
    <tr>
      <th>Time</th>
      <th>Pontuação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of service.times">
      <td>
        <div class="flexTime">
          <app-time-imagem [imagem]="time.imagem"></app-time-imagem>
          {{ time.nome }}
        </div>
      </td>
      <td>{{ time.pontos }}</td>
    </tr>
  </tbody>
</table>
