/* You can add global styles to this file, and also import other style files */
.flexTime {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

body {
  font-family: Consolas;
}
